TELEGRAM_BOT_TOKEN=123456:ABCDEF_TOKEN_DEL_BOT
TELEGRAM_CHAT_ID=123456789

BACKEND_URL=http://127.0.0.1:8766
BACKEND_HOST=127.0.0.1
BACKEND_PORT=8766
BACKEND_API_TOKEN=
BACKEND_ALLOWED_ORIGINS=*
BACKEND_ANALYSIS_MODE=combinado
BACKEND_PHISHING_THRESHOLD=45
BACKEND_HEUR_WEIGHT=60
BACKEND_NEURAL_WEIGHT=40
BACKEND_LOG_LEVEL=INFO

MONITOR_INTERVAL_SECONDS=120
PHISHING_THRESHOLD=45
MONITOR_ANALYSIS_MODE=combinado
MONITOR_HEUR_WEIGHT=60
MONITOR_NEURAL_WEIGHT=40
GMAIL_MONITOR_QUERY=in:inbox newer_than:1d
GMAIL_MONITOR_LIMIT=20
MONITOR_MARK_EXISTING_AS_SEEN=1

GMAIL_EXTENSION_HOST=127.0.0.1
GMAIL_EXTENSION_PORT=8765
GMAIL_EXTENSION_MODE=combinado
GMAIL_EXTENSION_THRESHOLD=45
GMAIL_EXTENSION_HEUR_WEIGHT=60
GMAIL_EXTENSION_NEURAL_WEIGHT=40
