# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.env.*
.venv/
.pytest_cache/
credentials.json
token.json
config/credentials.json
config/token.json

# Editor
.vscode/
.idea/
~$*.docx

# OS
.DS_Store
Thumbs.db
